<section>
  <div class="main-hero d-flex justify-content-center"  [ngClass]="{'searched': entryStatus}" (mouseleave)="isShrunkCheck()">
    <div class="container-fluid d-flex flex-column align-items-end jusitfy-items-center">
      <div class="icon-and-name d-flex justify-items-center"  >
        <i class="bi bi-cup-straw pt-2"></i>
        <h2 class="main-brand-title p-3">BrewFinder</h2>
      </div>
      <div class="search-bar m-auto shadow-lg">
        <div class="d-block input-holder justify-content-center">
          <p class="find-breweries-text">Find Breweries</p>
          <input [(ngModel)]="zip" type="text" placeholder="Search By City or Keyword..." required class="fw-light">
        </div>
        <button class="ms-auto shadow-sm align-items-middle" (click)="searchZip(zip)" *ngIf="entryStatus === false">
          <i class="icon bi-search"></i>Search</button>
          <button class="ms-auto shadow-sm align-items-middle" (click)="searchZip(zip)" *ngIf="entryStatus === true"
          [ngClass]="{'turn-red': entryStatus}">
            <i class="icon bi-x-circle"></i>
           Clear
          </button>
      </div>
    </div>
  </div>

</section>
<main *ngIf="fetchData === true">
  <section  [ngClass]="{'search-results': entryStatus}" class="search-results-hidden">
    <app-beerlist *ngIf="fetchData === true" [toChild]="toChild" [fetchData]="fetchData"></app-beerlist>
  </section>

</main>
<footer class="">
  <div class="container d-flex justify-content-center align-items-center">
    <p class="m-auto text-center">Credit to <a href="https://chrisjmears.com/" target="_blank">Chris J Mears</a> and <a href="https://wanderingleafstudios.com/" target="_blank">Wandering Lead Studios LLC for the</a> for the <a href="https://www.openbrewerydb.org/" target="_blank">Open Brewery API.</a></p>
  </div>
</footer>