.brew-type{
    position: relative;
    padding: 10px 0px 5px 0px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
    p{
        margin: 0;
    }
}
.add-link *{
    text-decoration: none;
    color: rgb(61, 61, 61) !important;
    
}